
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;500&family=Ubuntu:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,900&family=Space+Grotesk:wght@300;500&family=Ubuntu:wght@400;500;700&display=swap');
/* *{font-family: 'Ubuntu', sans-serif;} */

.floater{
    position: absolute;
    font-family: 'Fraunces', serif;
    /* border: 1px solid black; */
    display: grid;
    place-items: center;
    width: 40%;
    top: 25%;
    left: 30%;
}
.creatives{
    font-size: 50px;
    word-spacing: 2px;
    color: white;
}
.arrow{
    width: 30px;
    height: auto;
   
}
.white{
    background-color: white;
    display: grid;
    place-content: center;
  }
  .title{
    font-size: 50px;
    font-family: 'Fraunces', serif;
  }
  .description{
    font-size: medium;
    word-spacing: 1px;
    font-family: 'Ubuntu', sans-serif;
  }
  .learn_more{
    font-size: 15px;
    font-family: 'Fraunces', serif;
    border: 1px solid black;
    display: block;
  }
  .learn_more::after{
content: "rrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrr";
background-color: red;
  }