@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;500&family=Ubuntu:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;500&family=Ubuntu:wght@400;500;700&display=swap');


.nav{
  width: 100%;
  height: 70vh;
  border: 2px solid black;
position: relative;
/* font-family: 'Space Grotesk', sans-serif; */
font-family: 'Ubuntu', sans-serif;

}
.navitems{
  /* border: 2px solid black; */
 display: flex;
 flex-direction: row;
 justify-content: space-between;
 align-items: center;
 z-index: 1;
}
.img{
  z-index: -1;
  position: absolute;
  /* opacity: 0.2; */
  width: 100%;
  height: inherit;
  object-fit:fill;
}
.logo{
  /* border: 2px solid black; */
  cursor: pointer;
  margin-left: 4rem;
}
.navlist{
  display: flex;
  width: auto;
  list-style: none;
  display: inline-flex;
  justify-content: space-around;
  align-items: center;
  /* border: 2px solid black; */
  position: sticky;
  top: 0;
}
.navlist_item{
  text-transform: capitalize;
  color: white;
  text-decoration-line: none;
  font-size:20px;
  margin-right:4rem ;
 border-radius: 30px;
  /* border: 1px solid black; */
}
.navlist_item li{
 border-radius: 30px;

  padding: 10px 15px 10px 15px;
}
.navlist_item li:hover{
  background-color: rgba(255, 255, 255, 0.318);
  transition: background-color 0.3s ;
}
.main{
  display: grid;
  grid-template-columns:repeat(2 , minmax(100px , 1fr));
  grid-template-rows: repeat(3 , 1fr);
height: 150vh;
}
.box{
  /* border: 1px solid black; */
}

.box_img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}